{% extends "base.html" %}

{% block title %}
    您的購物車
{% endblock %}

{% block content %}
    <h1>您的購物車</h1>

    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>商品</th>
                        <th>數量</th>
                        <th class="text-center">價格</th>
                        <th class="text-center">總價</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="{{ item.goods.get_absolute_url }}">
                                        <img class="media-object" src="{{ item.goods.picture.url }}" style="width: 72px; height: 72px;">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="{{ item.goods.get_absolute_url }}">{{ item.goods.title }}</a>
                                        </h4>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                {{ item.amount }}
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>NT${{ item.goods.price }}</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>NT${{ item.get_total_price }}</strong></td>
                            <td class="col-sm-1 col-md-1">
                                <a href="{% url 'cart:remove_from_cart' item.goods.id %}" class="btn btn-dark">
                                    <i class="glyphicon glyphicon-remove"></i> 減少
                                </a>
                                <a href="{% url 'cart:add_to_cart' item.goods.id %}" class="btn btn-dark">
                                    <i class="glyphicon glyphicon-remove"></i> 增加
                                </a>
                                <a href="{% url 'cart:delete_from_cart' item.goods.id %}" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-remove"></i> 移除
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><h3>總計</h3></td>
                        <td class="text-right">
                            <h3><strong>NT${{ total_price }}</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="{% url 'shop:shop' %}" class="btn btn-success">
                                繼續購物
                            </a>
                        </td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            <a href="{% url 'orders:order_check' %}" class="btn btn-danger">
                                結帳
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}