{% extends "base.html" %}

{% block title %}隱私政策{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>隱私政策</h1>
    <p>本隱私政策旨在告知您我們如何收集、使用和保護您的個人信息。</p>
    
    <h2>信息收集</h2>
    <p>我們可能會收集您在使用我們的網站或服務時提供的個人信息，包括但不限於您的姓名、電子郵件地址、聯繫電話等。</p>
    
    <h2>信息使用</h2>
    <p>我們將您的個人信息用於提供和改進我們的服務，以及與您聯繫和溝通。</p>
    
    <h2>信息保護</h2>
    <p>我們採取合理的技術措施來保護您的個人信息免受未經授權的訪問、使用或洩露。</p>
    
    <h2>第三方共享</h2>
    <p>除非法律要求，否則我們不會在未經您同意的情況下向第三方披露您的個人信息。</p>
    
    <h2>數據刪除請求</h2>
    <p>如果您希望刪除您的個人數據，請通過以下方式聯繫我們：penguin.divingclub@gmail.com</p>
    
    <h2>聯繫方式</h2>
    <p>如果您對本隱私政策有任何疑問，請通過以下方式聯繫我們：penguin.divingclub@gmail.com</p>
</div>
{% endblock %}
