<!-- orders/templates/orders/order_detail.html -->
{% extends "base.html" %}

{% block title %}
    Order Detail
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Order Successfully Placed!</h2>
        <div class="alert alert-success" role="alert">
            Your order has been successfully placed. Thank you for your purchase!
        </div>
        <!-- 顯示訂單詳細內容 -->
        <h3>訂單細節：</h3>
        <p><strong>姓名：</strong> {{ order.name }}</p>
        <p><strong>地址：</strong> {{ order.address }}</p>
        <p><strong>聯絡電話：</strong> {{ order.contact_number }}</p>
        <p><strong>電子信箱：</strong> {{ order.email }}</p>
        <p><strong>付款資訊：</strong> {{ order.credit_card }}</p>

        <!-- 顯示商品明細 -->
        <h3>商品明細：</h3>
        <ul>
            {% for item in order.items.all %}
                <li>{{ item.product.name }} - {{ item.quantity }} x NT${{ item.price }}</li>
            {% endfor %}
        </ul>

        <!-- 直接顯示總金額 -->
        <h4>總金額： NT${{ total_cost }}</h4>
    </div>
{% endblock %}
