{% extends "base.html" %}

{% block title %}編輯個人資料{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="mt-5">編輯個人資料</h2>
        <form method="post" action="{% url 'account:edit_profile' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="recipient_name">收件人姓名：</label>
                <input type="text" id="recipient_name" name="recipient_name" value="{{ user_profile.recipient_name }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone_number">收件人手機\電話號碼：</label>
                <input type="text" id="phone_number" name="phone_number" value="{{ user_profile.phone_number }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="address">收件人地址：</label>
                <textarea id="address" name="address" class="form-control">{{ user_profile.address }}</textarea>
            </div>
            <div class="form-group">
                <label for="email">Email：</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <a href="{% url 'account:change_password' %}" class="btn btn-link">更改密碼</a>
            </div>
            <button type="submit" class="btn btn-primary">保存變更</button>
        </form>
    </div>
</div>
{% endblock %}