{% extends "base.html" %}

{% block title %}購物車{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="mt-5">購物車</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>商品名稱</th>
                    <th>價格</th>
                    <th>數量</th>
                    <th>小計</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.goods.title }}</td>
                    <td>NT${{ item.goods.price }}</td>
                    <td>{{ item.ccount }}</td>
                    <td>NT${{ item.goods.price }}</td>
                    <td>
                        <a href="/delete_cart?gid={{ item.goods.id }}" class="btn btn-danger btn-sm">移除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <h4>總計：NT${{ total }}</h4>
            <a href="/checkout" class="btn btn-success">結帳</a>
        </div>
    </div>
</div>
{% endblock %}
