{% extends 'base.html' %}
{% block title %}首頁{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">歡迎來到 ScubaShop</h1>
        <p class="lead">這是一個用於購買潛水裝備的網站</p>
        <h2 class="mt-5">最新上架商品</h2>
    </div>

    <!-- 商品展示 -->
    <div class="container mt-3">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{% url 'shop:product_detail' product.pk %}"><img class="card-img-top" src="{{ product.picture.url }}" alt="{{ product.title }}"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'shop:product_detail' product.pk %}">{{ product.title }}</a>
                        </h4>
                        <h5>NT${{ product.price }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'cart:add_to_cart' product.pk %}" class="btn btn-primary">加入購物車</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

