{% extends "base.html" %}

{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- 商品圖片 -->
        <div class="col-md-6">
            {% if product.images.all %}
                {% for image in product.images.all %}
                    <img src="{{ image.image.url }}" alt="{{ product.name }} image" class="img-fluid" style="max-width: 100%; height: auto;">
                {% endfor %}
            {% else %}
                <img src="{% static 'img/no_image.png' %}" alt="no image" class="img-fluid" style="max-width: 100%; height: auto;">
            {% endif %}
        </div>
        <!-- 商品資訊 -->
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <h4>價格: NT${{ product.price }}</h4>
            <p>規格: {{ product.size }} / {{ product.color }}</p>
            <p>{{ product.description }}</p>
            <form method="post" action="{% url 'cart:add_to_cart' product.pk %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="quantity">數量:</label>
                    <select name="quantity" id="quantity" class="form-control" required>
                        {% for num in "123456789" %}
                        <option value="{{ num }}">{{ num }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="javascript:history.back()" class="btn btn-success">返回</a>
                <button type="submit" class="btn btn-primary">加入購物車</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
