{% extends "base.html" %}

{% block title %}Shop{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- 商品类别筛选栏 -->
        <div class="col-lg-3 col-md-4">
            <div class="list-group">
                <a href="{% url 'shop:shop' %}" class="list-group-item list-group-item-action">全部商品</a>
                <!-- 商品类别筛选 -->
                {% for category in categories %}
                    <a href="?category={{ category.id }}{% if form.brand.value %}&brand={{ form.brand.value }}{% endif %}{% if form.sort_by.value %}&sort_by={{ form.sort_by.value }}{% endif %}" 
                    class="list-group-item list-group-item-action{% if category.id == form.category.value %} active{% endif %}">
                        {{ category.name }}
                    </a>
                {% endfor %}
                <hr>
                <!-- 商品品牌筛选 -->
                <div class="list-group">
                    <a href="?{% if form.category.value %}category={{ form.category.value }}{% endif %}{% if form.sort_by.value %}&sort_by={{ form.sort_by.value }}{% endif %}" 
                    class="list-group-item list-group-item-action">全部品牌</a>
                    {% for brand in brands %}
                        <a href="?brand={{ brand.id }}{% if form.category.value %}&category={{ form.category.value }}{% endif %}{% if form.sort_by.value %}&sort_by={{ form.sort_by.value }}{% endif %}" 
                        class="list-group-item list-group-item-action{% if brand.id == form.brand.value %} active{% endif %}">
                            {{ brand.name }}
                        </a>
                    {% endfor %}
                </div>
                <hr>
                <form method="get" action="{% url 'shop:shop' %}">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">篩選</button>
                </form>
            </div>
        </div>
        <!-- 商品列表 -->
        <div class="col-lg-9 col-md-8">
            <div class="row">
                {% for product in page_obj %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'shop:detail' product.pk %}">
                            {% if product.images.all %}
                                {% with product.images.first as first_image %}
                                    <img src="{{ first_image.image.url }}" alt="{{ product.name }}" class="img-fluid">
                                {% endwith %}
                            {% else %}
                                <img src="static/img/no_image.png" alt="no image" class="img-fluid">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'shop:detail' product.pk %}">{{ product.name }}</a>
                            </h4>
                            <h5>NT${{ product.price }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'cart:add_to_cart' product.pk %}" class="btn btn-primary">加入購物車</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-lg-12">
                    <p>沒有符合條件的商品。</p>
                </div>
                {% endfor %}
            </div>
            <!-- 分頁導航 -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
