{% extends "base.html" %}
{% block title %}支付頁面{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">支付頁面</h1>
    <form method="post" action="{% url 'payment:process' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_amount">支付金額</label>
            {{ payment_form.amount }}
        </div>
        <div class="form-group">
            <label for="id_notes">備註</label>
            {{ payment_form.notes }}
        </div>
        <button type="submit" class="btn btn-primary">提交支付</button>
    </form>
</div>
{% endblock %}
